<div class="list row">
  <div class="col-md-6">
    <div style="display: flex; justify-content: space-between;">
      <h4>AlDocs List</h4>
      <a routerLink="/add" class="btn btn-primary" role="button" aria-label="Add AlDoc">
        <svg height="1.5em" width="1.5em" class="bi" aria-hidden="true">
          <use xlink:href="bootstrap-icons.svg#file-earmark-plus"/>
        </svg>
      </a>
    </div>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let aldoc of aldocs; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAlDoc(aldoc, i)">
        {{ aldoc.filePath }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <aldoc-details [currentAlDoc]="currentAlDoc"></aldoc-details>
  </div>
</div>
